.vs/
.vscode/
.idea/
_ReSharper*/
*.suo
*.user
*.userosscache
*.sln.docstates
*.DotSettings.user

bin/
obj/
*.binlog

TestResults/
*.trx
*.coverage
*.coveragexml

*.resx

devices.json

Thumbs.db
ehthumbs.db
desktop.ini
$RECYCLE.BIN/
*.lnk

dist/

!NuGet.config
!.editorconfig
!README.md
!SerialPortDeviceFinder.sln
!packages/**
